body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.badge-panel {
    display: inline-block;
    margin: 10px;
    border: 1px solid #005a9e;
}

body {
    overflow: auto
}